// Colors
$background-color: #fafaff;
$primary-color: #222;
$header-color: #222;
$content-color: #5c5c5c;
$description-color: #787c97;
$link-color: #e1e1e8;

$code-background-color: #14152b;
$code-color: #fff;
$code-font: "Courier New", Courier, monospace;

// Fonts
$content-font: "Open Sans", sans;

$navbar-height: 64px;
$navbar-icon-height: 20px;

// Breakpoints
$break-phone: 480px;
$break-tablet: 760px;
$break-desktop: 1200px;

// Site width in different resolutions
$site-width-tablet: 660px;
$site-width-desktop: 1000px;

// Default paragraph bottom-margin
$paragraph-margin: 48px;
$header-margin: 32px;
