@import "reset";
@import "consts";
@import "fonts";
@import "hero";
@import "content";
@import "section";
@import "nav";

body {
  margin: 0;
  background: $background-color;
  font-family: $content-font;
}
