.nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: $navbar-height;
  box-sizing: border-box;
  margin: 0 auto;
  left: 0;
  top: 0;

  background: rgba($background-color, 0.8);

  .nav-content {
    max-width: $max-content-width;
    height: $navbar-height;
    margin: 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
  }

  .site-icon {
    margin-top: 40px;
    float: left;
  }
  .menu-icon {
    margin-top: 40px;
    float: right;
    display: none;
  }
}
